/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:wght@400;700;900&family=Roboto:wght@400;700&display=swap");

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
//@import "@ionic/angular/css/palettes/dark.system.css";

.margin20 {
  margin: 20px;
}
.text-center {
  text-align: center;
}
.title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 4px 0;
}
a {
  text-decoration: none;
}
select,
input {
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: inherit;
}
ion-router-outlet {
  margin-top: 56px;
}
table.standart-table {
  border: 1px solid var(--ion-border);
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  caption {
    font-size: 1.5em;
    margin: 0.5em 0 0.75em;
  }
  tr {
    border: 1px solid #ddd;
    padding: 0.35em;
    &:nth-child(even) {
      background-color: var(--ion-background);
    }
  }
  th {
    padding: 10px 0;
    text-align: left;
    background-color: var(--ion-background);
    border: 1px solid var(--ion-border);
    padding: 0.625em;
  }
  td {
    padding: 0.625em;
    border: 1px solid var(--ion-border);
  }
}
@media screen and (max-width: 600px) {
  table {
    border: 0;
    caption {
      font-size: 1.3em;
    }
    thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    tr {
      border-bottom: 3px solid #ddd;
      display: block;
      margin-bottom: 0.625em;
    }
    td {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 0.8em;
      text-align: right;
      &::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }
      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
